tr.inner > td {
  border: 0
}

tr.outer > td {
  font-size: 1.2em;
  color: #528CE0;
}

tr.inner > td:first-child {
  white-space: nowrap;
}

table.tabular {
  border-collapse: collapse;
        
}

table.tabular td { 
  text-align: center;
  padding: 8px;
}

table.tabular tr:first-child td {
  color: #56A0D3;
  background-color: #003153;
}

table.tabular tr:nth-child(even) {
  background-color: #56A0D3;
}

table.tabular tr:nth-child(odd) {
  background-color: #007FFF;
}

table.tabular tr td:first-child {
  border-right: 3px solid #003153;
}

important, .important, positive, negative { 
  font-style: italic;
}

important {
  color: lightblue; 
}

positive{
  color: green;
}

negative, error {
  color: red;
}

warning {
  color: yellow;
}

h2.important { 
  color: lightblue;
}

body p, li, td{
  color: white;
}

i, h3.highlight {
  color: #e7ad52;
}

.centered {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.reveal blockquote{
  quotes: "\201C""\201D""\2018""\2019";
}
.reveal blockquote:before {
  color: lightblue;
  content: open-quote;
  font-size: 2em;
  line-height: 0.1em;
  margin-right: 0.05em;
  vertical-align: -0.3em;
}

.reveal blockquote:after {
  color: lightblue;
  content: close-quote;
  font-size: 2em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}

.reveal author {
  background-color: #591514;
  height: 2em;
  bottom: .7em;
  position: relative;
  width: 71%;
  display: block;
  margin: 0 auto;
  text-align: right;
  font-size: .8em;
}

.reveal author p {
  padding-right: 1em;
  line-height: 2em;
  vertical-align: middle;
}

.reveal author p:before {
  content: "~";
}

p.source {
  font-size: .8em;
  color: #ccc;
}

p.source a:link {
  color: #aaa;
}

p.source a:visited {
  color: #aaa;
}

p.source a:hover {
  color: #ddd !important;
}

left {
  text-align:left;
}

left p {
  position:relative;
  left:-1em;
}

.reveal pre code {
  background-color: #222;
  overflow: hidden;
}

div.source {
  color: #dc322f;
  font-size: .6em;
}

div.source a:not(:last-child):after {
  content: ", ";
}

div.source:before {
  content: "Source: "
}

.ds-box {
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  position: relative;
  display: block;
  width: 666px;
  height: 600px;
}

.ds-box p {
  font-size: 1.25em;
}

.circle {
  position: absolute;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  width: 400px;
  height: 400px;
  opacity: 0.7;
}

.circle.se {
  background-color: #dc322f;
  bottom: 0;
  right: 0;
}

.ds-box>p {
  position: relative;
  top: 300px;
  color: #e7ad52;
}

.circle.stat p, .circle.se p {
  line-height: 600px;
  vertical-align: text-bottom;
}

.circle.stat {
  background-color: #5E740B;
  left: 0;
  bottom: 0;
}

.circle.biz {
  background-color: #134674;
  top: 0;
  left: 132px;
}

.circle.se p {
  position: relative;
  word-wrap: break-word;
  left: 140px;
  top: 200px;
  width: 200px;
  line-height: 1.1em;
}

.circle.stat p {
  position: relative;
  left: -50px;
  bottom: 50px;
}

.circle.stat p {
  position: relative;
  left: -50px;
  bottom: 50px;
}

.circle.biz p {
  position: relative;
  top: 75px;
}

img.constrained {
  max-width: 75%;
  max-height: 75%;
}

img.transparent {
  border: 0;
  background:initial !important;
  border: initial !important;
  box-shadow: initial !important;
}

.pdf-header {
  position: absolute;
  top:0;
  width: 98%;
  background-color: black;
  opacity: .7;
}

iframe.framed {
  border: 3px solid darkorange;
  border-color: darkorange orange yellow goldenrod;
}

blockquote.expanded, author.expanded, blockquote.expanded + author {
  width: 100%;
  margin: 0;
}

.small-font {
  font-size: 0.8em !important;
}

ul.space-bullets li {
  padding-bottom: .4em;
}

img.plain {
  background-color: white !important;
}

.reveal .slides {
  height: 100%;
  top: 0;
  margin-top: 0;
}

.reveal .slides>section {
  min-height: 90%;
}

.reveal .slides>section>section {
  min-height: 100%;
}

section div.content, section div.margin {
  display: inline-block;
}

section div.content {
  max-width: 55%;
  float: left;
}

section div.margin {
  max-width: 45%;
}